body{
  text-align:center;
  background-color:#f4426b;
  color:#ffffff;
  font-family: verdana;
}
ul{
  list-style-position:inside;
  text-align: center;
}
img{
  height: 500px;
  width: 600px;
  border: 30px solid white
}
#wardens{
  height:400px;
  width: 250px;
  border: 10px solid white
}
#harry{
  height:200px;
  width: 400px;
  border: 10px solid white
}
.nav{
  margin:0;
  height: 40px;
  width: 100%;
  background:#d15e5e;
  border:none;
  padding:0;
  display:table;
}
.nav ul{
  margin:0;
  padding:0;
  width:100%;
  display: table-row;
}
.nav ul li{
  list-style: none;
  display: table-cell;
  width: 20%;
}
.nav ul li a{
  text-decoration:none;
  float:left;
  display:block;
  padding:5px 20px;
  color:white;
  text-align: center;
  font-family: verdana;
}
.nav ul li a:hover{
  color:#4f2645;
}